Cartopy==0.22.0
dash==2.16.1
dash-core-components==2.0.0
dash-extensions==1.0.14
dash-html-components==2.0.0
dash-table==5.0.0
Fiona==1.8.13.post1
Flask==3.0.3
Flask-Caching==2.1.0
folium==0.15.1
GDAL==3.0.2
gunicorn
geographiclib==2.0
geopandas
matplotlib
matplotlib-inline
requests
Shapely==1.8.4
zipp==3.18.0